<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Tachyons CSS -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    {% if title %}
    <title>Flask Blog - {{ title }} </title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
</head>

<body class="">
    <header class="">
        <!-- <nav class="flex justify-between bb b--white-10">
            <div class="container">
                <a class="link white-70 hover-white no-underline flex items-center pa3" href="/">Flask Blog</a>
                <div class="" id="">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/about">About</a>
                    </div>
                    <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/login">Login</a>
                    <a class="nav-item nav-link" href="/register">Register</a>
                    </div>
                </div>
            </div>
        </nav> -->

        <nav class="flex justify-between">
            <div class="nav-left no">
                <a class="nav-item nav-link no-underline" href="/">Flask Blog</a>
                <a class="nav-item nav-link no-underline" href="/home">Home</a>
                <a class="nav-item nav-link no-underline" href="/about">About</a>
            </div>
            <div class="nav-right">
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Register</a>
            </div>
        </nav>
    </header>
  
    <main role="main">
    <div class="row">
        <div class="">
        {% block content %}{% endblock %}
        </div>
        <div class="">
            <h3>Menu</h3>
            <p class="">You can put any information here you'd like.
            <ul class="">
                <li class="">Latest Posts</li>
                <li class="">Announcements</li>
                <li class="">Calendars</li>
                <li class="">etc</li>
            </ul>
            </p>
        </div>
    </div>
    </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>